* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #434e68;
}

body {
    font-family: 'Amaranth', sans-serif;
}

.logo {
    color: #04a5f0;
}


/* nav links */

.navbar-toggler {
    outline: none !important;
}

.toggler-icon {
    font-size: 40px;
    color: #04a5f0;
}

.nav-link {
    color: #04a5f0;
    transition: all 1s ease-in-out;
    font-size: 24px;
}

.nav-link:hover {
    color: #000;
}

.app {
    color: #4FCE5D;
}