* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'Amaranth', sans-serif;
  
}
nav{
    /* background-color: rgba(6, 56, 183, 0.744); */
    background-color: rgba(5, 195, 243, 0.5);
    
}

.logo {
    color:whitesmoke;
}

.number{
    color: white;
    font-size: larger;
}
/* nav links */

.navbar-toggler {
    outline: none !important;
}

.toggler-icon {
    font-size: 40px;
    color: white;
}

.nav-link {
    color: white;
    transition: all 1s ease-in-out;
    font-size: 24px;
}

.nav-link:hover {
    color: #000;
}

.app {
    color: #4FCE5D;
}
