.skills {
    padding: 0 0 30px 0;
    position: relative;
    z-index: 3;
}

.skills .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #04a5f0;
    padding: 40px 30px;
    width: 100%;
}

.skills .icon-boxes .icon-box i {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}

.skills .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.skills .icon-boxes .icon-box p {
    font-size: 15px;
    color: #fff;
}