.clients .clients-wrap {
    border-top: 1px solid #04a5f0;
    border-left: 1px solid #04a5f0;
}

.clients .client-logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #04a5f0;
    border-bottom: 1px solid #04a5f0;
    overflow: hidden;
    background: #fff;
    height: 100px;
}

.clients .client-logo img {
    transition: all 0.3s ease-in-out;
    height: 65px;
    filter: grayscale(100%);
}

.clients .client-logo:hover img {
    filter: none;
    transform: scale(1.1);
}
.single-review{
    height: 550px;
}